// переменные
// размеры под адаптив 
// шрифты // переменные для шрифтов

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$F: 'Roboto', sans-serif;
$G: rgba(51, 51, 51, 1);
$LG: rgba(189, 189, 189, 1);
$B: rgb(0, 0, 0);
$Bfooter:#2C2C2C;
$W: rgb(255, 255, 255);